# PyCity Schools Analysis

- Your analysis here
  
---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
# Calculate the total number of unique schools
school_count = school_data_complete['school_name'].nunique()
school_count

15

In [3]:
# Calculate the total number of students
student_count = school_data_complete['student_name'].count()
student_count

39170

In [4]:
# Calculate the total budget
total_budget = (school_data_complete.drop_duplicates(['school_name'], keep='first'))['budget'].sum()
total_budget

24649428

In [5]:
# Calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean()
average_math_score

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean()
average_reading_score

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete['reading_score'] >= 70)].count()['student_name']
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [38]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools": school_count
                                ,"Total Students": student_count
                                ,"Total Budget": total_budget
                                ,"Average Math Score": average_math_score
                                ,"Average Reading Score": average_reading_score
                                ,"% Passing Math": passing_math_percentage
                                ,"% Passing Reading": passing_reading_percentage
                                ,"% Overall Passing": overall_passing_rate
                                }, index = ['Total Schools'])
district_summary

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Total Schools,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,NaN

## School Summary

In [39]:
# Use the code provided to select all of the school names
school_names = (school_data_complete.set_index(['school_name'])).groupby(['school_name'])

In [40]:
# Use the code provided to select all of the school types
school_type = (school_data_complete.drop_duplicates(['school_name'], keep='first')).set_index(['school_name'])['type']

In [41]:
# Calculate the total student count per school
per_school_counts = school_names['student_name'].count()

In [42]:
# Calculate the total school budget and per capita spending per school
per_school_budget = (school_data_complete.drop_duplicates(['school_name'], keep='first')).set_index(['school_name'])['budget']

In [43]:
# Calculate the total school budget and per capita spending per school
per_school_capita = per_school_budget / per_school_counts

In [44]:
# Calculate the average test scores per school
per_school_math = school_names['math_score'].mean()

In [45]:
# Calculate the average test scores per school
per_school_reading = school_names['reading_score'].mean()

In [46]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[(school_data_complete['math_score'] >= 70)]
school_students_passing_math = students_passing_math.groupby(['school_name']).size()

In [47]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[(school_data_complete['reading_score'] >= 70)]
school_students_passing_reading = students_passing_reading.groupby(['school_name']).size()

In [48]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [49]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts

In [50]:
# Use the provided code to calculate the passing rates
per_school_passing_reading = school_students_passing_reading / per_school_counts

In [51]:
# Use the provided code to calculate the passing rates
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts

In [52]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"School Type": school_type
                                ,"Total Students": per_school_counts
                                ,"Total School Budget": per_school_budget
                                ,"Per Student Budget": per_school_capita
                                ,"Average Math Score": per_school_math
                                ,"Average Reading Score": per_school_reading
                                ,"% Passing Math": per_school_passing_math
                                ,"% Passing Reading": per_school_passing_reading
                                ,"% Overall Passing": overall_passing_rate
                                })

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].map("{:.2%}".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:.2%}".format)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].map("{:.2%}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].round(3)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].round(3)
per_school_summary.index.name = 'School Name'

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048,81.034,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.062,83.976,94.13%,97.04%,91.33%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.712,81.158,65.99%,80.74%,53.20%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.103,80.746,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351,83.817,93.39%,97.14%,90.60%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.290,80.934,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.803,83.815,92.51%,96.25%,89.23%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629,81.183,65.68%,81.32%,53.51%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072,80.966,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.840,84.045,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.843,80.745,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359,83.726,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418,83.849,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274,83.989,93.87%,96.54%,90.58%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682,83.955,93.33%,96.61%,90.33%

## Highest-Performing Schools (by % Overall Passing)

In [53]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = pd.DataFrame(per_school_summary.sort_values("% Overall Passing", ascending=False))
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.062,83.976,94.13%,97.04%,91.33%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418,83.849,93.27%,97.31%,90.95%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351,83.817,93.39%,97.14%,90.60%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274,83.989,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.840,84.045,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

In [54]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = pd.DataFrame(per_school_summary.sort_values("% Overall Passing", ascending=True))
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.843,80.745,66.37%,80.22%,52.99%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.712,81.158,65.99%,80.74%,53.20%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629,81.183,65.68%,81.32%,53.51%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.290,80.934,66.75%,80.86%,53.53%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072,80.966,66.06%,81.22%,53.54%

## Math Scores by Grade

In [55]:
# Use the code provided to separate the data by grade - grouped these for both Math and Reading Analysis
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")].groupby(['school_name'])
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")].groupby(['school_name'])
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")].groupby(['school_name'])
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")].groupby(['school_name'])

In [56]:
# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders['math_score'].mean()
tenth_grader_math_scores = tenth_graders['math_score'].mean()
eleventh_grader_math_scores = eleventh_graders['math_score'].mean()
twelfth_grader_math_scores = twelfth_graders['math_score'].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"9th - Math": ninth_grade_math_scores
                                     ,"10th - Math": tenth_grader_math_scores
                                     ,"11th - Math": eleventh_grader_math_scores
                                     ,"12th - Math": twelfth_grader_math_scores
                                    })

# Minor data wrangling
math_scores_by_grade['9th - Math'] = math_scores_by_grade['9th - Math'].round(3)
math_scores_by_grade['10th - Math'] = math_scores_by_grade['10th - Math'].round(3)
math_scores_by_grade['11th - Math'] = math_scores_by_grade['11th - Math'].round(3)
math_scores_by_grade['12th - Math'] = math_scores_by_grade['12th - Math'].round(3)
math_scores_by_grade.index.name = 'School Name'

# Display the DataFrame
math_scores_by_grade

                       9th - Math  10th - Math  11th - Math  12th - Math
School Name
Bailey High School         77.084       76.997       77.516       76.492
Cabrera High School        83.095       83.155       82.766       83.277
Figueroa High School       76.403       76.540       76.884       77.151
Ford High School           77.361       77.672       76.918       76.180
Griffin High School        82.044       84.229       83.842       83.356
Hernandez High School      77.438       77.337       77.136       77.187
Holden High School         83.787       83.430       85.000       82.855
Huang High School          77.027       75.909       76.447       77.226
Johnson High School        77.188       76.691       77.492       76.863
Pena High School           83.625       83.372       84.328       84.122
Rodriguez High School      76.860       76.612       76.396       77.691
Shelton High School        83.421       82.917       83.383       83.779
Thomas High School         83.590       83.088       83.499       83.497
Wilson High School         83.086       83.724       83.195       83.036
Wright High School         83.265       84.010       83.837       83.645

## Reading Score by Grade

In [57]:
# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders['reading_score'].mean()
tenth_grader_reading_scores = tenth_graders['reading_score'].mean()
eleventh_grader_reading_scores = eleventh_graders['reading_score'].mean()
twelfth_grader_reading_scores = twelfth_graders['reading_score'].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th - Reading": ninth_grade_reading_scores
                                     ,"10th - Reading": tenth_grader_reading_scores
                                     ,"11th - Reading": eleventh_grader_reading_scores
                                     ,"12th - Reading": twelfth_grader_reading_scores
                                    })

# Minor data wrangling
reading_scores_by_grade['9th - Reading'] = reading_scores_by_grade['9th - Reading'].round(3)
reading_scores_by_grade['10th - Reading'] = reading_scores_by_grade['10th - Reading'].round(3)
reading_scores_by_grade['11th - Reading'] = reading_scores_by_grade['11th - Reading'].round(3)
reading_scores_by_grade['12th - Reading'] = reading_scores_by_grade['12th - Reading'].round(3)
reading_scores_by_grade.index.name = 'School Name'

# Display the DataFrame
reading_scores_by_grade

,9th - Reading,10th - Reading,11th - Reading,12th - Reading
School Name,,,,
Bailey High School,81.303,80.907,80.946,80.912
Cabrera High School,83.676,84.253,83.788,84.288
Figueroa High School,81.199,81.409,80.640,81.385
Ford High School,80.633,81.263,80.404,80.662
Griffin High School,83.369,83.707,84.288,84.014
Hernandez High School,80.867,80.660,81.396,80.857
Holden High School,83.677,83.325,83.816,84.699
Huang High School,81.290,81.512,81.417,80.306
Johnson High School,81.261,80.773,80.616,81.228
Pena High School,83.807,83.612,84.336,84.591
Rodriguez High School,80.993,80.630,80.865,80.376
Shelton High School,84.123,83.442,84.374,82.782
Thomas High School,83.729,84.254,83.586,83.831
Wilson High School,83.940,84.021,83.765,84.318
Wright High School,83.833,83.813,84.156,84.073

## Scores by School Spending

In [58]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [59]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = 
school_spending_df

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = 
per_school_summary

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 

# Display results
type_summary