# PyCity Schools Analysis

- Your analysis here
  
---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary
#### Perform the necessary calculations and then create a high-level snapshot of the district's key metrics in a DataFrame.
##### Include the following:
- Total number of unique schools
- Total students
- Total budget
- Average math score
- Average reading score
- % passing math (the percentage of students who passed math)
- % passing reading (the percentage of students who passed reading)
- % overall passing (the percentage of students who passed math AND reading)

In [2]:
# Calculate the total number of unique schools
school_count = school_data_complete['school_name'].nunique()
school_count

15

In [3]:
# Calculate the total number of students
student_count = school_data_complete['student_name'].count()
student_count

39170

In [4]:
# Calculate the total budget
total_budget = (school_data_complete.drop_duplicates(['school_name'], keep='first'))['budget'].sum()
total_budget

24649428

In [5]:
# Calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean().round(2)
average_math_score

78.99

In [6]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean().round(2)
average_reading_score

81.88

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = (passing_math_count / float(student_count) * 100).round(2)
passing_math_percentage

74.98

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete['reading_score'] >= 70)].count()['student_name']
passing_reading_percentage = (passing_reading_count / float(student_count) * 100).round(2)
passing_reading_percentage

85.81

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = (passing_math_reading_count /  float(student_count) * 100).round(2)
overall_passing_rate

65.17

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools": school_count
                                ,"Total Students": student_count
                                ,"Total Budget": total_budget
                                ,"Average Math Score": average_math_score
                                ,"Average Reading Score": average_reading_score
                                ,"% Passing Math": passing_math_percentage
                                ,"% Passing Reading": passing_reading_percentage
                                ,"% Overall Passing": overall_passing_rate
                                }, index = ['Total Schools'])

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.0f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].round(1).astype(str) + '%'
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].round(1).astype(str) + '%'
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].round(1).astype(str) + '%'

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Total Schools,15,"39,170","$24,649,428",78.99,81.88,75.0%,85.8%,65.2%

## School Summary
#### Perform the necessary calculations and then create a DataFrame that summarizes key metrics about each school. 
##### Include the following:
- School name
- School type
- Total students
- Total school budget
- Per student budget
- Average math score
- Average reading score
- % passing math (the percentage of students who passed math)
- % passing reading (the percentage of students who passed reading)
- % overall passing (the percentage of students who passed math AND reading)

In [11]:
# Use the code provided to select all of the school names, types, and student count
school_names = (school_data_complete.set_index(['school_name'])).groupby(['school_name'])
school_type = (school_data_complete.drop_duplicates(['school_name'], keep='first')).set_index(['school_name'])['type']
per_school_counts = school_names['student_name'].count()

In [12]:
# Calculate the total school budget and per capita spending per school
per_school_budget = (school_data_complete.drop_duplicates(['school_name'], keep='first')).set_index(['school_name'])['budget']
per_school_capita = per_school_budget / per_school_counts

In [13]:
# Calculate the average test scores per school
per_school_math = school_names['math_score'].mean()
per_school_reading = school_names['reading_score'].mean()

In [14]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[(school_data_complete['math_score'] >= 70)]
school_students_passing_math = students_passing_math.groupby(['school_name']).size()

# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[(school_data_complete['reading_score'] >= 70)]
school_students_passing_reading = students_passing_reading.groupby(['school_name']).size()

In [15]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [16]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [17]:
per_school_summary_no_format = pd.DataFrame({"School Type": school_type
                                ,"Total Students": per_school_counts
                                ,"Total School Budget": per_school_budget
                                ,"Per Student Budget": per_school_capita
                                ,"Average Math Score": per_school_math
                                ,"Average Reading Score": per_school_reading
                                ,"% Passing Math": per_school_passing_math
                                ,"% Passing Reading": per_school_passing_reading
                                ,"% Overall Passing": overall_passing_rate
                                })
per_school_summary_no_format.index.name = 'School Name'

per_school_summary = pd.DataFrame(per_school_summary_no_format.copy())

# Formatting
per_school_summary.index.name = 'School Name'
per_school_summary["Total Students"] = per_school_summary["Total Students"].map("{:,.0f}".format)
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.0f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.0f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].round(2)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].round(2)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].round(1).astype(str) + '%'
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].round(1).astype(str) + '%'
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].round(1).astype(str) + '%'

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928",$628,77.05,81.03,66.7%,81.9%,54.6%
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.06,83.98,94.1%,97.0%,91.3%
Figueroa High School,District,"2,949","$1,884,411",$639,76.71,81.16,66.0%,80.7%,53.2%
Ford High School,District,"2,739","$1,763,916",$644,77.10,80.75,68.3%,79.3%,54.3%
Griffin High School,Charter,"1,468","$917,500",$625,83.35,83.82,93.4%,97.1%,90.6%
Hernandez High School,District,"4,635","$3,022,020",$652,77.29,80.93,66.8%,80.9%,53.5%
Holden High School,Charter,427,"$248,087",$581,83.80,83.81,92.5%,96.3%,89.2%
Huang High School,District,"2,917","$1,910,635",$655,76.63,81.18,65.7%,81.3%,53.5%
Johnson High School,District,"4,761","$3,094,650",$650,77.07,80.97,66.1%,81.2%,53.5%
Pena High School,Charter,962,"$585,858",$609,83.84,84.04,94.6%,95.9%,90.5%
Rodriguez High School,District,"3,999","$2,547,363",$637,76.84,80.74,66.4%,80.2%,53.0%
Shelton High School,Charter,"1,761","$1,056,600",$600,83.36,83.73,93.9%,95.9%,89.9%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.42,83.85,93.3%,97.3%,90.9%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.27,83.99,93.9%,96.5%,90.6%
Wright High School,Charter,"1,800","$1,049,400",$583,83.68,83.96,93.3%,96.6%,90.3%

## Highest-Performing Schools (by % Overall Passing)
#### Sort the schools by % Overall Passing in descending order and display the top 5 rows.
- Save the results in a DataFrame called "top_schools".

In [18]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = pd.DataFrame(per_school_summary.sort_values("% Overall Passing", ascending=False))
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.06,83.98,94.1%,97.0%,91.3%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.42,83.85,93.3%,97.3%,90.9%
Griffin High School,Charter,"1,468","$917,500",$625,83.35,83.82,93.4%,97.1%,90.6%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.27,83.99,93.9%,96.5%,90.6%
Pena High School,Charter,962,"$585,858",$609,83.84,84.04,94.6%,95.9%,90.5%

## Bottom Performing Schools (By % Overall Passing)
#### Sort the schools by % Overall Passing in ascending order and display the top 5 rows.
- Save the results in a DataFrame called "bottom_schools".

In [19]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = pd.DataFrame(per_school_summary.sort_values("% Overall Passing", ascending=True))
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363",$637,76.84,80.74,66.4%,80.2%,53.0%
Figueroa High School,District,"2,949","$1,884,411",$639,76.71,81.16,66.0%,80.7%,53.2%
Hernandez High School,District,"4,635","$3,022,020",$652,77.29,80.93,66.8%,80.9%,53.5%
Huang High School,District,"2,917","$1,910,635",$655,76.63,81.18,65.7%,81.3%,53.5%
Johnson High School,District,"4,761","$3,094,650",$650,77.07,80.97,66.1%,81.2%,53.5%

## Math/Reading Scores Dependencies
#### Setting the stage for Math and Reading Score Analysis

In [20]:
# Use the code provided to separate the data by grade - grouped these for both Math and Reading Analysis
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")].groupby(['school_name'])
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")].groupby(['school_name'])
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")].groupby(['school_name'])
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")].groupby(['school_name'])

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders['math_score'].mean()
tenth_grader_math_scores = tenth_graders['math_score'].mean()
eleventh_grader_math_scores = eleventh_graders['math_score'].mean()
twelfth_grader_math_scores = twelfth_graders['math_score'].mean()

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders['reading_score'].mean()
tenth_grader_reading_scores = tenth_graders['reading_score'].mean()
eleventh_grader_reading_scores = eleventh_graders['reading_score'].mean()
twelfth_grader_reading_scores = twelfth_graders['reading_score'].mean()

## Average Math Score - by School, by Grade
#### Perform the necessary calculations to create a DataFrame that lists the average math score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [21]:
# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"9th": ninth_grade_math_scores
                                     ,"10th": tenth_grader_math_scores
                                     ,"11th": eleventh_grader_math_scores
                                     ,"12th": twelfth_grader_math_scores
                                    })

# Minor data wrangling
math_scores_by_grade['9th'] = math_scores_by_grade['9th'].round(2)
math_scores_by_grade['10th'] = math_scores_by_grade['10th'].round(2)
math_scores_by_grade['11th'] = math_scores_by_grade['11th'].round(2)
math_scores_by_grade['12th'] = math_scores_by_grade['12th'].round(2)
math_scores_by_grade.index.name = 'School Name'

# Display the DataFrame
math_scores_by_grade

                         9th   10th   11th   12th
School Name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

## Average Reading Score - by School, by Grade
#### Create a DataFrame that lists the average reading score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [22]:
# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th": ninth_grade_reading_scores
                                     ,"10th": tenth_grader_reading_scores
                                     ,"11th": eleventh_grader_reading_scores
                                     ,"12th": twelfth_grader_reading_scores
                                    })
reading_scores_by_grade.index.name = 'School Name'

# Formatting 
reading_scores_by_grade['9th'] = reading_scores_by_grade['9th'].round(2)
reading_scores_by_grade['10th'] = reading_scores_by_grade['10th'].round(2)
reading_scores_by_grade['11th'] = reading_scores_by_grade['11th'].round(2)
reading_scores_by_grade['12th'] = reading_scores_by_grade['12th'].round(2)

# Display the DataFrame
reading_scores_by_grade

                         9th   10th   11th   12th
School Name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

## Scores by School Spending
#### Create a table that breaks down school performance based on average spending ranges (per student).
- Use the code provided below to create four bins with reasonable cutoff values to group school spending.
- Use pd.cut to categorize spending based on the bins, then calculate mean scores per spending range.

#### Use the scores above to create a DataFrame called spending_summary, that includes...
- Average math score
- Average reading score
- % passing math (the percentage of students who passed math)
- % passing reading (the percentage of students who passed reading)
- % overall passing (the percentage of students who passed math AND reading)

In [23]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [24]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary_no_format.copy()

# Use `pd.cut` to categorize spending based on the bins.
school_spending_df['Spending Ranges (Per Student)'] = pd.cut(school_spending_df['Per Student Budget']
                                                            ,bins=spending_bins
                                                            ,labels=labels
                                                            ,include_lowest=True
                                                            )

# Print school_spending_df
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
School Name,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [25]:
# Re-formatting the school_spending_df DataFrame for upcoming steps

# Reset the index for school_spending_df
school_spending_df = school_spending_df.reset_index(drop=True)
school_spending_df = school_spending_df.set_index('Spending Ranges (Per Student)')
school_spending_df = school_spending_df.sort_values('Spending Ranges (Per Student)', ascending=True)

#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [26]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({'Average Math Score': spending_math_scores
                                 ,'Average Reading Score': spending_reading_scores
                                 ,'% Passing Math': spending_passing_math
                                 ,'% Passing Reading': spending_passing_reading
                                 ,'% Overall Passing': overall_passing_spending
                                })

# Formatting 
spending_summary['Average Math Score'] = spending_summary['Average Math Score'].round(2)
spending_summary['Average Reading Score'] = spending_summary['Average Reading Score'].round(2)
spending_summary['% Passing Math'] = spending_summary['% Passing Math'].round(1).astype(str) + '%'
spending_summary['% Passing Reading'] = spending_summary['% Passing Reading'].round(1).astype(str) + '%'
spending_summary['% Overall Passing'] = spending_summary['% Overall Passing'].round(1).astype(str) + '%'

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.46,83.93,93.5%,96.6%,90.4%
$585-630,81.90,83.16,87.1%,92.7%,81.4%
$630-645,78.52,81.62,73.5%,84.4%,62.9%
$645-680,77.00,81.03,66.2%,81.1%,53.5%

## Scores by School Size
#### Use the following code to bin the per_school_summary.
- Use pd.cut on the "Total Students" column of the per_school_summary DataFrame.
- Create a DataFrame called size_summary that breaks down school performance based on school size (small, medium, or large).

In [27]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [28]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
size_summary = per_school_summary_no_format.copy()
size_summary["School Size"] = pd.cut(per_school_summary_no_format['Total Students']
                                                            ,bins=size_bins
                                                            ,labels=labels
                                                            ,include_lowest=True
                                                            )

# Print the size_summary with School Size column created 
size_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
School Name,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [29]:
#Re-format the size_summary for upcoming steps

# Reset the index for size_summary
size_summary = size_summary.reset_index(drop=True)
size_summary = size_summary.set_index('School Size')

# Calculate averages for the desired columns. 
size_math_scores = size_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = size_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = size_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = size_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = size_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [30]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({'Average Math Score': size_math_scores
                                 ,'Average Reading Score': size_reading_scores
                                 ,'% Passing Math': size_passing_math
                                 ,'% Passing Reading': size_passing_reading
                                 ,'% Overall Passing': size_overall_passing
                                })

# Formatting 
size_summary['Average Math Score'] = size_summary['Average Math Score'].round(2)
size_summary['Average Reading Score'] = size_summary['Average Reading Score'].round(2)
size_summary['% Passing Math'] = size_summary['% Passing Math'].round(1).astype(str) + '%'
size_summary['% Passing Reading'] = size_summary['% Passing Reading'].round(1).astype(str) + '%'
size_summary['% Overall Passing'] = size_summary['% Overall Passing'].round(1).astype(str) + '%'

# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.82,83.93,93.6%,96.1%,89.9%
Medium (1000-2000),83.37,83.86,93.6%,96.8%,90.6%
Large (2000-5000),77.75,81.34,70.0%,82.8%,58.3%

## Scores by School Type
#### Use the per_school_summary DataFrame from the previous step to create a new DataFrame called type_summary.
- This new DataFrame should show school performance based on the "School Type".

In [31]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
type_summary = per_school_summary_no_format.copy()

# Reset the index for type_summary
type_summary = type_summary.reset_index(drop=True)
type_summary = type_summary.set_index('School Type')
type_summary.head()

# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = type_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = type_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = type_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = type_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = type_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [32]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({'Average Math Score': average_math_score_by_type
                             ,'Average Reading Score': average_reading_score_by_type
                             ,'% Passing Math': average_percent_passing_math_by_type
                             ,'% Passing Reading': average_percent_passing_reading_by_type
                             ,'% Overall Passing': average_percent_overall_passing_by_type
                            })

# Formatting 
type_summary['Average Math Score'] = type_summary['Average Math Score'].round(2)
type_summary['Average Reading Score'] = type_summary['Average Reading Score'].round(2)
type_summary['% Passing Math'] = type_summary['% Passing Math'].round(1).astype(str) + '%'
type_summary['% Passing Reading'] = type_summary['% Passing Reading'].round(1).astype(str) + '%'
type_summary['% Overall Passing'] = type_summary['% Overall Passing'].round(1).astype(str) + '%'

# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.47,83.90,93.6%,96.6%,90.4%
District,76.96,80.97,66.5%,80.8%,53.7%