# PyCity Schools Analysis

- Your analysis here
  
---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary
#### Perform the necessary calculations and then create a high-level snapshot of the district's key metrics in a DataFrame.
##### Include the following:
- Total number of unique schools
- Total students
- Total budget
- Average math score
- Average reading score
- % passing math (the percentage of students who passed math)
- % passing reading (the percentage of students who passed reading)
- % overall passing (the percentage of students who passed math AND reading)

In [2]:
# Calculate the total number of unique schools
school_count = school_data_complete['school_name'].nunique()
school_count

15

In [3]:
# Calculate the total number of students
student_count = school_data_complete['student_name'].count()
student_count

39170

In [4]:
# Calculate the total budget
total_budget = (school_data_complete.drop_duplicates(['school_name'], keep='first'))['budget'].sum()
total_budget

24649428

In [5]:
# Calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean().round(3)
average_math_score

78.985

In [6]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean().round(3)
average_reading_score

81.878

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = (passing_math_count / float(student_count) * 100).round(3)
passing_math_percentage

74.981

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete['reading_score'] >= 70)].count()['student_name']
passing_reading_percentage = (passing_reading_count / float(student_count) * 100).round(3)
passing_reading_percentage

85.805

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = (passing_math_reading_count /  float(student_count) * 100).round(3)
overall_passing_rate

65.172

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools": school_count
                                ,"Total Students": student_count
                                ,"Total Budget": total_budget
                                ,"Average Math Score": average_math_score
                                ,"Average Reading Score": average_reading_score
                                ,"% Passing Math": passing_math_percentage
                                ,"% Passing Reading": passing_reading_percentage
                                ,"% Overall Passing": overall_passing_rate
                                }, index = ['Total Schools'])
district_summary

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Total Schools,15,"39,170","$24,649,428.00",78.985,81.878,74.981,85.805,65.172

## School Summary
#### Perform the necessary calculations and then create a DataFrame that summarizes key metrics about each school. 
##### Include the following:
- School name
- School type
- Total students
- Total school budget
- Per student budget
- Average math score
- Average reading score
- % passing math (the percentage of students who passed math)
- % passing reading (the percentage of students who passed reading)
- % overall passing (the percentage of students who passed math AND reading)

In [11]:
# Use the code provided to select all of the school names, types, and student count
school_names = (school_data_complete.set_index(['school_name'])).groupby(['school_name'])
school_type = (school_data_complete.drop_duplicates(['school_name'], keep='first')).set_index(['school_name'])['type']
per_school_counts = school_names['student_name'].count()

In [12]:
# Calculate the total school budget and per capita spending per school
per_school_budget = (school_data_complete.drop_duplicates(['school_name'], keep='first')).set_index(['school_name'])['budget']
per_school_capita = per_school_budget / per_school_counts

In [13]:
# Calculate the average test scores per school
per_school_math = school_names['math_score'].mean()
per_school_reading = school_names['reading_score'].mean()

In [14]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[(school_data_complete['math_score'] >= 70)]
school_students_passing_math = students_passing_math.groupby(['school_name']).size()

# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[(school_data_complete['reading_score'] >= 70)]
school_students_passing_reading = students_passing_reading.groupby(['school_name']).size()

In [15]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [16]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [17]:
per_school_summary_no_format = pd.DataFrame({"School Type": school_type
                                ,"Total Students": per_school_counts
                                ,"Total School Budget": per_school_budget
                                ,"Per Student Budget": per_school_capita
                                ,"Average Math Score": per_school_math
                                ,"Average Reading Score": per_school_reading
                                ,"% Passing Math": per_school_passing_math
                                ,"% Passing Reading": per_school_passing_reading
                                ,"% Overall Passing": overall_passing_rate
                                })
per_school_summary_no_format.index.name = 'School Name'

per_school_summary = pd.DataFrame(per_school_summary_no_format.copy())

# Formatting
per_school_summary.index.name = 'School Name'
per_school_summary["Total Students"] = per_school_summary["Total Students"].map("{:,.0f}".format)
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.0f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.0f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].round(1)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].round(1)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].round(1).astype(str) + '%'
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].round(1).astype(str) + '%'
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].round(1).astype(str) + '%'

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928",$628,77.0,81.0,66.7%,81.9%,54.6%
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.1,84.0,94.1%,97.0%,91.3%
Figueroa High School,District,"2,949","$1,884,411",$639,76.7,81.2,66.0%,80.7%,53.2%
Ford High School,District,"2,739","$1,763,916",$644,77.1,80.7,68.3%,79.3%,54.3%
Griffin High School,Charter,"1,468","$917,500",$625,83.4,83.8,93.4%,97.1%,90.6%
Hernandez High School,District,"4,635","$3,022,020",$652,77.3,80.9,66.8%,80.9%,53.5%
Holden High School,Charter,427,"$248,087",$581,83.8,83.8,92.5%,96.3%,89.2%
Huang High School,District,"2,917","$1,910,635",$655,76.6,81.2,65.7%,81.3%,53.5%
Johnson High School,District,"4,761","$3,094,650",$650,77.1,81.0,66.1%,81.2%,53.5%
Pena High School,Charter,962,"$585,858",$609,83.8,84.0,94.6%,95.9%,90.5%
Rodriguez High School,District,"3,999","$2,547,363",$637,76.8,80.7,66.4%,80.2%,53.0%
Shelton High School,Charter,"1,761","$1,056,600",$600,83.4,83.7,93.9%,95.9%,89.9%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.4,83.8,93.3%,97.3%,90.9%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.3,84.0,93.9%,96.5%,90.6%
Wright High School,Charter,"1,800","$1,049,400",$583,83.7,84.0,93.3%,96.6%,90.3%

## Highest-Performing Schools (by % Overall Passing)
#### Sort the schools by % Overall Passing in descending order and display the top 5 rows.
- Save the results in a DataFrame called "top_schools".

In [18]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = pd.DataFrame(per_school_summary.sort_values("% Overall Passing", ascending=False))
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.1,84.0,94.1%,97.0%,91.3%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.4,83.8,93.3%,97.3%,90.9%
Griffin High School,Charter,"1,468","$917,500",$625,83.4,83.8,93.4%,97.1%,90.6%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.3,84.0,93.9%,96.5%,90.6%
Pena High School,Charter,962,"$585,858",$609,83.8,84.0,94.6%,95.9%,90.5%

## Bottom Performing Schools (By % Overall Passing)
#### Sort the schools by % Overall Passing in ascending order and display the top 5 rows.
- Save the results in a DataFrame called "bottom_schools".

In [19]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = pd.DataFrame(per_school_summary.sort_values("% Overall Passing", ascending=True))
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363",$637,76.8,80.7,66.4%,80.2%,53.0%
Figueroa High School,District,"2,949","$1,884,411",$639,76.7,81.2,66.0%,80.7%,53.2%
Hernandez High School,District,"4,635","$3,022,020",$652,77.3,80.9,66.8%,80.9%,53.5%
Huang High School,District,"2,917","$1,910,635",$655,76.6,81.2,65.7%,81.3%,53.5%
Johnson High School,District,"4,761","$3,094,650",$650,77.1,81.0,66.1%,81.2%,53.5%

## Math/Reading Scores Dependencies
#### Setting the stage for Math and Reading Score Analysis

In [20]:
# Use the code provided to separate the data by grade - grouped these for both Math and Reading Analysis
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")].groupby(['school_name'])
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")].groupby(['school_name'])
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")].groupby(['school_name'])
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")].groupby(['school_name'])

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders['math_score'].mean()
tenth_grader_math_scores = tenth_graders['math_score'].mean()
eleventh_grader_math_scores = eleventh_graders['math_score'].mean()
twelfth_grader_math_scores = twelfth_graders['math_score'].mean()

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders['reading_score'].mean()
tenth_grader_reading_scores = tenth_graders['reading_score'].mean()
eleventh_grader_reading_scores = eleventh_graders['reading_score'].mean()
twelfth_grader_reading_scores = twelfth_graders['reading_score'].mean()

## Average Math Score - by School, by Grade
#### Perform the necessary calculations to create a DataFrame that lists the average math score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [21]:
# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"9th": ninth_grade_math_scores
                                     ,"10th": tenth_grader_math_scores
                                     ,"11th": eleventh_grader_math_scores
                                     ,"12th": twelfth_grader_math_scores
                                    })

# Minor data wrangling
math_scores_by_grade['9th'] = math_scores_by_grade['9th'].round(4)
math_scores_by_grade['10th'] = math_scores_by_grade['10th'].round(4)
math_scores_by_grade['11th'] = math_scores_by_grade['11th'].round(4)
math_scores_by_grade['12th'] = math_scores_by_grade['12th'].round(4)
math_scores_by_grade.index.name = 'School Name'

# Display the DataFrame
math_scores_by_grade

                           9th     10th     11th     12th
School Name
Bailey High School     77.0837  76.9968  77.5156  76.4922
Cabrera High School    83.0947  83.1545  82.7656  83.2775
Figueroa High School   76.4030  76.5400  76.8843  77.1514
Ford High School       77.3613  77.6723  76.9181  76.1800
Griffin High School    82.0440  84.2291  83.8421  83.3562
Hernandez High School  77.4385  77.3374  77.1360  77.1866
Holden High School     83.7874  83.4298  85.0000  82.8554
Huang High School      77.0273  75.9087  76.4466  77.2256
Johnson High School    77.1879  76.6911  77.4917  76.8632
Pena High School       83.6255  83.3720  84.3281  84.1215
Rodriguez High School  76.8600  76.6125  76.3956  77.6907
Shelton High School    83.4208  82.9174  83.3835  83.7790
Thomas High School     83.5900  83.0879  83.4988  83.4970
Wilson High School     83.0856  83.7244  83.1953  83.0358
Wright High School     83.2647  84.0103  83.8368  83.6450

## Average Reading Score - by School, by Grade
#### Create a DataFrame that lists the average reading score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [22]:
# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th": ninth_grade_reading_scores
                                     ,"10th": tenth_grader_reading_scores
                                     ,"11th": eleventh_grader_reading_scores
                                     ,"12th": twelfth_grader_reading_scores
                                    })
reading_scores_by_grade.index.name = 'School Name'

# Formatting 
reading_scores_by_grade['9th'] = reading_scores_by_grade['9th'].round(4)
reading_scores_by_grade['10th'] = reading_scores_by_grade['10th'].round(4)
reading_scores_by_grade['11th'] = reading_scores_by_grade['11th'].round(4)
reading_scores_by_grade['12th'] = reading_scores_by_grade['12th'].round(4)

# Display the DataFrame
reading_scores_by_grade

                           9th     10th     11th     12th
School Name
Bailey High School     81.3032  80.9072  80.9456  80.9125
Cabrera High School    83.6761  84.2532  83.7884  84.2880
Figueroa High School   81.1986  81.4089  80.6403  81.3849
Ford High School       80.6327  81.2627  80.4036  80.6623
Griffin High School    83.3692  83.7069  84.2881  84.0137
Hernandez High School  80.8669  80.6601  81.3961  80.8571
Holden High School     83.6772  83.3246  83.8155  84.6988
Huang High School      81.2903  81.5124  81.4175  80.3060
Johnson High School    81.2607  80.7734  80.6160  81.2276
Pena High School       83.8073  83.6120  84.3359  84.5912
Rodriguez High School  80.9931  80.6298  80.8648  80.3764
Shelton High School    84.1226  83.4420  84.3738  82.7817
Thomas High School     83.7289  84.2542  83.5855  83.8314
Wilson High School     83.9398  84.0215  83.7646  84.3177
Wright High School     83.8333  83.8128  84.1563  84.0732

## Scores by School Spending
#### Create a table that breaks down school performance based on average spending ranges (per student).
- Use the code provided below to create four bins with reasonable cutoff values to group school spending.
- Use pd.cut to categorize spending based on the bins, then calculate mean scores per spending range.

#### Use the scores above to create a DataFrame called spending_summary, that includes...
- Average math score
- Average reading score
- % passing math (the percentage of students who passed math)
- % passing reading (the percentage of students who passed reading)
- % overall passing (the percentage of students who passed math AND reading)

In [23]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [24]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary_no_format.copy()

# Use `pd.cut` to categorize spending based on the bins.
school_spending_df['Spending Ranges (Per Student)'] = pd.cut(school_spending_df['Per Student Budget']
                                                            ,bins=spending_bins
                                                            ,labels=labels
                                                            ,include_lowest=True
                                                            )

# Reset the index for school_spending_df
school_spending_df = school_spending_df.reset_index(drop=True)
school_spending_df = school_spending_df.set_index('Spending Ranges (Per Student)')
school_spending_df = school_spending_df.sort_values('Spending Ranges (Per Student)', ascending=True)

#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [31]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({'Average Math Score': spending_math_scores
                                 ,'Average Reading Score': spending_reading_scores
                                 ,'% Passing Math': spending_passing_math
                                 ,'% Passing Reading': spending_passing_reading
                                 ,'% Overall Passing': overall_passing_spending
                                })

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size
#### Use the following code to bin the per_school_summary.
- Use pd.cut on the "Total Students" column of the per_school_summary DataFrame.
- Create a DataFrame called size_summary that breaks down school performance based on school size (small, medium, or large).

In [26]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [27]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
size_summary = per_school_summary_no_format.copy()
size_summary["School Size"] = pd.cut(per_school_summary_no_format['Total Students']
                                                            ,bins=size_bins
                                                            ,labels=labels
                                                            ,include_lowest=True
                                                            )

# Reset the index for size_summary
size_summary = size_summary.reset_index(drop=True)
size_summary = size_summary.set_index('School Size')

# Calculate averages for the desired columns. 
size_math_scores = size_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = size_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = size_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = size_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = size_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [28]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({'Average Math Score': size_math_scores
                                 ,'Average Reading Score': size_reading_scores
                                 ,'% Passing Math': size_passing_math
                                 ,'% Passing Reading': size_passing_reading
                                 ,'% Overall Passing': size_overall_passing
                                })

# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type
#### Use the per_school_summary DataFrame from the previous step to create a new DataFrame called type_summary.
- This new DataFrame should show school performance based on the "School Type".

In [29]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
type_summary = per_school_summary_no_format.copy()

# Reset the index for type_summary
type_summary = type_summary.reset_index(drop=True)
type_summary = type_summary.set_index('School Type')
type_summary.head()

# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = type_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = type_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = type_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = type_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = type_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [30]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({'Average Math Score': average_math_score_by_type
                             ,'Average Reading Score': average_reading_score_by_type
                             ,'% Passing Math': average_percent_passing_math_by_type
                             ,'% Passing Reading': average_percent_passing_reading_by_type
                             ,'% Overall Passing': average_percent_overall_passing_by_type
                            })
type_summary.index.name = 'School Type'

# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208